.modal {
    width: 1300px;
    height: 460px;
    background-color: white;
    color: black;
    border: 2px solid black;
    position: absolute;
}

.modal h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 0;
    background-color: rgb(20, 19, 19);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal .close-btn {
    position: absolute;
    left: 975px;
    bottom: 425px;
}

.modal-tbl {
    width: 1000px;
    height: 400px;
}

.modal .modal-tbl>* {
    padding-top: 0px;
    padding-bottom: 0px;
}

.modal td {
    padding: 0 0 0 0;
}

.modal td input {
    width: 940px;
    padding-bottom: 0px;
    padding-top: 0px;
}

textarea {
    width: 1297px;
    height: 250px;
    border: none;
}

.send-btn{
    background-color: #df96a2;
    font-size: 18px;
    position: absolute;
    left:938px;
    border-radius: 5px;
}
