.mail-list {
   width: 1000px;
   height: 460px;
   background-color: lightgray;
   border: 1px solid darkblue;
   /* font-size: 1.3em; */
   /* text-align: center; */
   /* text-decoration: none; */
}
   

.mail-preview p {
   margin: 0 0;
   color: black;
   font-size: 1.2em;
}

.mail-preview a {
   text-decoration: none;
}

/* .mail-preview span{
   color: black;
   position: absolute;
   top: 176px;
   left: 960px;
} */

.mail-row {
   display: flex;
   justify-content: space-between;
   /* align-items: start; */
   /* border-bottom: black; */
   /* text-align: left; */
}

.remove-btn {
   font-size: 22px;
   /* height: 0; */
   border: none;
   position: absolute;
   /* top: 176px; */
   left: 960px;
}

.add-btn {
   position: absolute;
   top: 100px;
   right: 0;
}

.add-btn span {
   font-size: 17px;
}