
.mail-app h2{
   text-align: center;
   margin-top: 0;
}

.mail-list {
   width: 1000px;
   height: 460px;
   /* background-color: white; */
   /* border: 1px solid darkblue; */
   /* font-size: 1.3em; */
   /* text-align: center; */
   /* text-decoration: none; */
}

.mail-preview p {
   margin: 0 0;
   color: black;
}

.mail-preview a {
   text-decoration: none;
}

.mail-row {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid lightgray;
   padding-top: 5px;
   padding-bottom: 5px;
   color: black;
}

.remove-btn {
   border: none;
   position: absolute;
   left: 960px;
}

.common-container {
   display: flex;
   max-width: 1250px;
   height: 800px;
   margin-left: 700px;
   background-color: rgba(255, 255, 255, 0.459);
   color: black;
   font-size: 1.4em;
}

.add-btn {
   font-size: 1.25rem;
}

.side-container {
   width: 210px;
   margin-left: 15px;
}

.side-container tr:hover {
   cursor: pointer;
}

table {
   margin-top: 5px;
}

.unclicked {
   background-color: none;
}

.clicked {
   background-color: #8f384d;
}

.add-btn {
   background-color: #8f384d;
   border-radius: 10px;
   margin-top: 10px;
}

.read {
   font-weight: 400;
}

.unread {
   font-weight: 600;
}