.keep-app {
    height: 800px;
    text-align: center;
    background-color: #e7cbf5;
    height: 100vh;
}

.notes-list {
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 2rem;    
}

.note-txt {
  
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4e2d69;
    margin-bottom: 6rem;
}

.note-txt h3{
    font-family: Roboto;
}

.list-todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-item{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-todos {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4e2d69;
    padding-bottom: 6rem;
}

.btn {
    width: 80px;
    height: 80px;
    background-color: #fff;
    margin-bottom: 2rem;
}

.note-img {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #4e2d69;
}

.note-img img {
    width: 200px;
    max-height: 300px;
    padding: 2rem;
}

.note-video{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #4e2d69;
    padding: 2rem;

}

a {
    text-decoration: none;
}

.add-note {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #e7cbf5;
    margin-bottom: 20px;
}

.note-input {
    height: 40px;
    width: 400px;
}

.btn-type img {
    height: 60px;
    width: 60px;
}

.btn-type .fas {
    height: 60px;
    width: 60px;
    font-size: 1.6rem;
} 
.fas{
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
}

.far{
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
}

.btn-type .far {
    height: 60px;
    width: 60px;
    font-size: 1.6rem;
} 

.btn-container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(246, 226, 250);
}

.pin {
    color: #e690f4
    /* background-color: #f5c5c5; */
}

 .unpin {
    color: black;
}

.btn-link a{
    font-size: 1.4rem;
    color: rgb(72, 70, 70);
    padding: 0.1rem;
    font-family: Lato-Regular;
}

.btn-link a:hover{
    background-color: #f5c5c5;
}


.color-palette {
    display: flex;
}

.input-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}