


.keep-app{
 
    height: 800px;
    text-align: center;
    
}

.notes-list{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-gap: 2rem;
}

.note-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100px;
    width: 200px;
    

}