body{
    color: #4e2d69;
    background-color: #d9c8d2;
    
  
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

h2{
    font-family: Monoton;
    letter-spacing: 0.01rem;
    word-spacing: 0.05rem;
}

p{
    text-align: center;
    font-family: Lato;
}