.app-header{
    background-color: #784f83;
    /* background-color: rgb(147, 139, 230); */
   font-family: Roboto;
    /* opacity: 0.6; */
 
   
   
}

ul{
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.clean-list {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.app-header li a{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    height: 80px;
    cursor: pointer;
    color: rgb(234, 225, 247);
}
.app-header li a:hover {
    background-color: #e7cbf5;
    color: #784f83;
   
}
