body {
  margin: 0;
}

.home-page {
  font-family: Monoton;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: lavender;
  background-image: url('/assets/img/world-big.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}