body{
    background-image: url('/assets/img/world-big.jpeg');
    background-repeat: no-repeat;
    background-size: cover;    
}

.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lavender;
   
}

