/* APPLICATIONS */

@import '../../apps/Keep/assets/css/KeepApp.css';
@import '../../apps/Mail/assets/css/MailApp.css';
@import '../../apps/Mail/assets/css/AddMail.css';
@import '../../assets/css/AppHeader.css';
@import './About.css';
@import '../css/Home.css';
/* HELPERS */



.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* FONTS */

@font-face{
    font-family: Monoton;
    src:url(../fonts/Monoton/Monoton-Regular.ttf)
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: Lato-Regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face{
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face{
    font-family: Bungee_Shade;
    src: url(../fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

/* MAIN */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
  
}

button:hover {
    cursor: pointer;
}